body { 
	font-size: 1.05em;
	line-height: 1.25em;
	font-family: 'Helvetica Neue', Helvetica, Arial;
	background: #3f3f3f;
	color: #ffffff;
}

a {

	color: #4C9CF1;
	text-decoration: none;
	font-weight: bold;

}

a:hover {

	color: #444;

}

img {

	width: 100%;

}

header {

	background: #fff;
	width: 100%;
	height: 76px;
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 4px solid #4C9CF1;
	z-index: 100;

}

nav {

	float: right;
	padding: 20px;	

}

#menu-icon {

	display: hidden;
	width: 40px;
	height: 40px;
	background: #4C8FEC url(../img/menu-icon.png) center;

}

a:hover#menu-icon {

	background-color: #444;
	border-radius: 4px 4px 0 0;

}

ul {

	list-style: none;

}

li {

	display: inline-block;
	float: left;
	padding: 10px

}

.current {

	color: #2262AD;

}

.section {
    /* height: 100%; */
    /* width: 100%; */
	margin: 80px auto 40px;
	position: relative;
    padding: 20px;
    display: block;
    box-sizing: border-box;
    box-align: center;
    align-items: center;
    justify-content: center;

}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.cent
{
    margin-left: auto;
    margin-right: auto;
}

h1 {

	padding: 40px;
    color: #FFDC00;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90px;
    font-weight: 800;
    letter-spacing: -3px;
    line-height: 1;
    text-shadow: #EDEDED 3px 2px 0;
    text-align: center;
}

p {

	line-height: 1.45em;
	margin-bottom: 20px;

}

table 
{ 
	width: 100%; 
	/* bottom: 1000px; */
	border-collapse: collapse; 
	margin-left: auto;
	margin-right: auto;
	padding: 25px 25px;
}
/* thead
{
	background-color: #ccc;
} */

.b
{
	max-width: 200px;
}
th
{ 
	/* background: #333;  */
	color: white; 
	font-weight: bold; 
}

td, th 
{ 
	padding: 6px;
	border: 1px solid #ccc; 
	text-align: left; 
	word-wrap:break-word;
}

table thead tr th
{
    height: 2rem;
    /* text-align: left; */
    /* color: #1db954; */
	/* background-color: #d3d3d3; */
	text-shadow: 1px 1px 0 #000;
}

img
{
	background-image: url('../img/blank-person.jpg');
    width: 100px;
	height: 100px;
	background-color: #75bdf5;
	
}

tbody tr:hover
{
    background-color: rgb(163, 219, 86);
}

/* table tbody tr
{
    background-color: #2262AD;
} */
.btn
{
	padding: 11px;
}
footer p
{
	position:fixed;
	left:0px;
	bottom:0px;
	height:30px;
	width:100%;
	/* background:#999; */
	text-align: right;
	color: white;
	font-size: 0.7em;
	line-height: 70px;
	text-transform: capitalize;
	letter-spacing: 1px;
}


@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

	header {

		position: absolute;

	}

	#menu-icon {

		display:inline-block;

	}

	nav ul, nav:active ul { 

		display: none;
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 5px solid #444;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;

	}

	nav li {

		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;

	}

	nav:hover ul {

		display: block;

    }
    #logo
    {
        width: 200px;
        font-size: 100%;
	}
	
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td::before{ 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	.b
	{
		max-width: none;
	}
	/*
	Label the data
	*/
	td:nth-of-type(1)::before { content: "Official"; }
	td:nth-of-type(2):before { content: "Photo"; }
	td:nth-of-type(3):before { content: "Office"; }
	td:nth-of-type(4):before { content: "Party"; }
	td:nth-of-type(5):before { content: "Website"; }
}